# Gradle
.gradle
build
.cxx
captures

/local.properties

# IntelliJ .idea folder
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
gradle.xml
*.iml

# General
.DS_Store
.externalNativeBuild
